.cards {
    
    display: flex;
    @include flex-wrap-wrap;
    width: 82vw;
    margin: 4rem auto;
   @include justify-space-between;

   
}
 
.card {
   
    @include flex-one;
    
    justify-content: center;
    box-sizing: border-box;
    margin: 1.8rem;
    border: none;

    @include respond(tab-port){
       flex: 1 0 40%;
   }

    &__img{
        width: 100%;
        margin: 1rem auto;
        border-radius: 50%;
        border: 1px solid $color-grey-dark;
        background-color: $color-white;
        padding: .5rem;

        &:hover{
            @include transition-all-easeInOut;
            background-color: $color-grey-dark;
        }

        @include respond(tab-port){
            width: 80%;
        }

       
       
       
   }

    &__name{
        color: $color-grey-dark;
        &:hover{
            border-bottom: .1rem solid $color-grey-dark;
        }
    }
    &__work{
        color: $color-grey-light;
        font-size: 1.2rem;
    }

    &__about{
        color: $color-grey-light;
        margin: 1rem 0;
        font-size: 1rem;
    }
}

.name-social{
    @include display-flex;
    @include flex-direction-row;
    @include flex-wrap-wrap;
    @include justify-space-between;
}
.more-link{
    color: $color-primary;

    
}
.more-link i{
 
        font-size: .8rem
    
}