.footer {
    background-color: $color-white;
    border-top: .2rem solid transparent;
    padding: .3rem;
    @include border-gradient;
    padding: 2.5rem 0;
    font-size: 1.4rem;
    color: $color-grey-light;
    

    @include respond(tab-port) {
        padding: 8rem 0;
    }

    

    &__nav{
        
        display: inline-block;
        margin-left: 3rem;
        @include respond(tab-port) {
            width: 100%;
            text-align: center;
        }
    }

    &__list {
        list-style: none;
        margin: 0 1rem;
        
    }

    &__item {
        display: inline-block;
        opacity: 0.5;
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }



    &__copyright {
        display: inline;
        
        @include respond(tab-port) {
            width: 100%;
            float: none;
        }
    }
}