/**
 * _footer.scss
 *
 * Add css for the footer section
 */

.footer {
    background-color: $color-white;
    border-top: .2rem solid transparent;
    margin-top: 10rem;
    @include border-gradient;
    padding: 2.5rem 0;
    font-size: .8rem;
    color: $color-grey-light;
    

    @include respond(tab-port) {
        padding: 8rem 0;
    }
    

    &__links {
        display: inline-block;
        opacity: 0.5;
    
    
    }



    &__copyright {
        display: inline;
        margin-right: 3rem;
        @include respond(tab-port) {
            display: block;
        }
    }
}

.footer-content{
    padding: .3rem 10rem;
}
.footer-link{
            color: $color-text-link;
}