/**
 * _footer.scss
 *
 * Add css for the footer section
 */

.footer {
    background-color: $color-white;
    border-top: .2rem solid transparent;
    margin-top: 10rem;
    @include border-gradient;
    padding: 2.5rem 0;
    font-size: .8rem;
    color: $color-grey-light;
    

    @include respond(tab-port) {
        padding: 8rem 0;
    }
    

    &__links {
        display: inline-block;
        opacity: 0.8;
    
    
    }



    &__copyright {
        display: inline;
        margin-right: 3rem;
    }
}

.footer-content{
    padding: .3rem 10rem;

    @include respond(phone) {
        padding:  0;
    }
}
.footer-link{
            color: $color-text-link;
}

.align-el{
    text-align: right;
     @include respond(phone) {
        text-align: center;
    }
}