
/**
 * _gallery.scss --> Hover Overlay text Effect
 * Grid gallery 
 * 
 *
 */
.gallery{
   
    grid-column: full-start / full-end;

    display: grid;
    /*grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);*/
    grid-template: repeat(7, 5vw) / repeat(8, 1fr);

    grid-gap: 0rem;
    padding: 0rem;

    @include respond(phone){
        display: block;
    }

    &__item {
        display: block;
        position: relative;
        &--1 {
            grid-row: 1 / span 5;
            grid-column: 1 / span 2;
        }

        &--2 {
            grid-row: 1 / span 5;
            grid-column: 3 / span 3;
        }

        &--3 {
            grid-row: 1 / span 5;
            grid-column: 6 / span 3;
        }

        &--4 {
            grid-row: 5 / span 4;
            grid-column: 1 / span 2;
        
        }

        &--5 {
            grid-row: 5 / span 4;
            grid-column: 3 / span 3;
        }

        &--6 {
            grid-row: 5 / span 4;
            grid-column: 6 / span 3;
        }
    }


    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}

.mask {
    box-sizing: border-box;

    display: block;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: $color-white;
    text-align: left;

    &__date{
        opacity: .5;
        display: block;
    }
}
    
.overlay-effect img {
    @include transform-scaleY-one;
    @include transition-all-easeInOut;
}

.overlay-effect .mask {
    background-color: rgb(223,97,74);
    @include transition-all-linear;

    @include transparent;

    &__details{
        @include transparent;
        @include transform-scale-zero;
        @include transition-all-linear;

        @include respond(tab-port){
            font-size: 1rem;
        }
        @include respond(phone){
            font-size: .8rem;
        }
    }
}
    
    /*.overlay-effect:hover img {
       @include transform-scale-ten;
       @include transparent;
    }*/

    .overlay-effect:hover .mask {
       @include not-transparent;
       
       
        &__details {
        
            @include absCenter;
            @include not-transparent;
            
        }
}