
/**
 * _header.scss 
 * 
 *
 */
.header {
    height: 100vh;
    background-image: url(../../_assets/banner1.jpg);
    background-size: cover;
    background-position: top;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
    
    
    
    @include respond(phone){
        @include justify-browsers;
    }

    @keyframes fadein {
        100%{
            opacity: 1;
        }
    }
   
    
    &__text-box {
        position: absolute;
        top: 40%;
        left: 40%;
        transform: translate(-30%, -20%);
        text-align: center;
        opacity: 0;
        margin-top: 15rem;
        animation: 1s slidefade 1s forwards ;

        @keyframes slidefade {
            100%{
                opacity: 1;
                margin: 0;
            }
            
        }
        
    }
}



