
  .navbar {
      top: 0;
    left: 0;
    z-index: 1500;
  }

  .navbar button{
   
    z-index: 1500;
  }
    

.nav-bg-respond{
    text-align: center;
    
    @include respond(tab-port){
        background-position: 100%;
    color: $color-primary;
    transform: translateX(1rem);
        background-image: linear-gradient(to bottom right, $color-primary, $color-grey-dark) !important;
        width: 100vw;
        height: 100vh;
        position: absolute !important;
        top: 0;
        right: 0;
        background-size: 220%;
        transition: all .4s;
        color: $color-white;
        margin-top: 0rem;
        font-size: 2rem;
        color: $color-grey-dark;
        padding-top: 10rem
        
    }
    
}

  .nav-link-style{
        @include respond(tab-port){
            line-height: 3rem;
            padding: 2rem;
            
            font-size: 2rem;
        }
        
}

 