.navbar {
    position: absolute;
    top: 3.5rem;
    right: 1rem;
    width: 60%;

    @include respond(phone) {
            width: 100%;
            font-family: 5rem;
        }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        
    }

    &__item {
        margin: 1rem 2rem;
        list-style-type: none;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 2rem;
           
           
            color: $color-white;
            text-decoration: none;

        }
        
        &:hover,
        &:active {
            border-bottom: .2rem solid $color-white;
        }
    }
}
