.topnav{
    height: 10rem;
    @include display-flex-browsers;
    @include center-align-items;
    @include justify-browsers;

    &__logo-box {
       
        padding: 0 1rem;

        @include respond(tab-land){
            
            &:a{
              
                text-align: center;
            }
            
        }

    }

    &__navbar {
    

    /* Hide the links in the menu on small screens */
     @include respond(tab-port) {
        
        display: inline-block;
        width: 100%;
        margin-top: 10rem;
   
        }
    }

    &__list {
        @include display-flex-browsers;
        margin-right: 1rem;
        

        @include respond(tab-port){
            
            padding: .2rem 0;
            
            @include flex-nowrap;
            position: absolute;
            left: 0;
            @include evenly-content;
            width: 100%;
            
            overflow: auto;
           
            
        }
    }

    &__item {
        margin: 0 1rem;
        list-style-type: none;
        @include respond(phone){
            margin: 0;
        }
        
    }
    /* Style the links inside the navigation bar */
    &__link {
        &:link,
        &:visited {
           text-decoration: none;
            text-transform: capitalize;
            color: $color-white;
            font-size: 2rem;
            display: block;
            cursor: pointer;

            /*  links in the menu on small screens */
            @include respond(phone){
                font-size: $default-font-size;
            }

        }
        /* Change the color of links on hover */
        /* Add an active class to highlight the current page */
        &:hover,
        &:active {
            border-bottom: .25rem solid $color-white;
        }
    }

}

