/**
 * _typography.scss --> change the typography of html elements
 * 
 *
 */
// Can be used for h1
.heading-primary {
    color: $color-white;
    text-transform: capitalize;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 4.2rem;
        font-weight: 400;

        @include respond(phone){
            font-size: 2rem;
        }
    }
    
    &--sub {
        margin-top: 1.5rem;
        display: block;
        font-size: 2.5rem;
        font-weight: 300;

        @include respond(phone){
            font-size: 1rem;
        }
    }
}


// Can be used for h2
.heading-secondary {
    font-size: 3.6rem;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 3rem;

     @include respond(phone){
        margin-top: 4rem;
    }
    
}
// Can be used for h3
.heading-tertiary {
    font-size: 2.5rem;
    font-weight: 400;

}

// Can be used for p
.paragraph {
    font-size: $default-font-size;
    color: $color-grey-light;
    font-weight: 300;
}

.align-right{
    text-align: right;
}