/**
 * _labels.scss --> bootstrap-custom Labels
 * 
 * Overwrites the default styles defined by the bootstrap framework.
 *
 */

 .container-fluid {
    margin: 0;
    padding: 0;
}


.nav{
    &-item{
        margin: 0 1rem;
    }
    
    /* Style the links inside the navigation bar */
    &-link { 
        padding: 0;
        @include respond(tab-port){
            padding: 0;
        }

        /* Change the color of links on hover */
        /* Add an active class to highlight the current page */
        &:hover,
        &:active {
             border-bottom: .2rem solid $color-white;
        }
    }
  }

 