/**
 * _typography.scss --> change the typography of html elements
 * 
 *
 */

.heading-primary {
    color: $color-white;
    text-transform: capitalize;
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 4.2rem;
        font-weight: 400;
    }
    
    &--sub {
        margin-top: 1.5rem;
        display: block;
        font-size: 2.5rem;
        font-weight: 300;
    }
}



.heading-secondary {
    font-size: 3.6rem;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 3rem;
    
}

.heading-tertiary {
    font-size: 2.5rem;
    font-weight: 400;

}

.paragraph {
    font-size: $default-font-size;
    color: $color-grey-light;
    font-weight: 300;
}
.align-right{
    text-align: right;
}