.heading-secondary {
    font-size: 3.5rem;
    font-weight: 400;
    display: inline-block;
    margin-bottom: 3rem;
    

    @include respond(tab-port) {
        font-size: 3rem;
    }

    @include respond(phone) {
        font-size: 2.5rem;
    
    }
}
.heading-tertiary {
    font-size: 4.5rem;
    font-weight: 400;
    margin-left: $gutter-horizontal;

     @include respond(tab-port) {
        font-size: 4rem;
        margin-left: 0;
    }

    @include respond(phone) {
        font-size: 3rem;
        margin-left: 0;
    
    }
}

.paragraph {
    font-size: $default-font-size;
    color: $color-grey-light;
    font-weight: 300;

   // &:not(:last-child) {
        margin-bottom: 3rem;
   // }
}