

 /**
 * _home.scss
 *
 * Add css to home page sections
 */

.section-about {
    background-color: $color-white;
    padding: 10rem;


    @include respond(phone) {
        padding: 5rem;
    }
}

.paragraph {
    margin-bottom: 3rem;
}

