
/**
 * _button.scss
 *
 */


.btn {
    &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: .5rem 2rem;
        display: inline-block;
        border-radius: .3rem;
        transition: all .2s;
        position: relative;
        font-size: $btn-font-size;
        background-color: $color-primary;
        color: $color-white;
        //Change for the <button> element
        border: none;
        cursor: pointer;
    }
    
    &:hover {
        
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
        color: $color-grey-dark;
        &::after {
            transform: scaleX(1.6) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    
    &--blue {
       // background-color: $color-white;
        color: $color-grey-dark;

        &::after {
            background-color: $color-primary;
        }
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .9s;
    }

    
    
  
}

.btn-text {
    &:link,
    &:visited {
        font-size: $default-font-size;
        color: $color-text-link;
        display: inline-block;
        text-decoration: none;
        padding: 3px;
        transition: all .2s;
    }

    &:hover {
        border-bottom: 1px solid $color-primary;
        color: $color-primary;
       
        transform: translateY(-3px);
    }

    &:active {
        box-shadow: 0 .5rem 1rem rgba($color-black, .15);
        transform: translateY(0);
    }
    
    & i{
        color: $color-secondary;
        
    }

     
}